<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community
  for developers and entrepreneurs to meet.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, velit eius tenetur odit dignissimos natus voluptas laborum ad consequuntur cumque totam sapiente. Ad, dicta alias veniam quia qui perspiciatis fugiat!</p>
</div>